@keyframes bounce {

  0%,
  100% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(200%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce-diagonal {
  0%,
  100% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translate(200%, 200%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce-oppisite {
  0%,
  100% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);  
  }
  
  50% {
    transform: translate(-200%, -200%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes bounce-rotate {
  0%, 100% {
    transform: translate(0%, 0%) rotate(0deg);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  25%, 75% {
    transform: translate(200%, 200%) rotate(360deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  50% {
  transform: translate(400%, 0%) rotate(0deg);
  animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

}

@keyframes bounce-rotate-oppisite {
  0%,
  100% {
    transform: translate(0%, 0%) rotate(0deg);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translate(-200%, -200%) rotate(360deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce-dia {
  0%,
  100% {
    transform: translate(0%, 0%) rotate(0deg);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translate(-200%, 200%) rotate(360deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce {
  display: inline-block;
  animation: bounce 4s infinite;
}

.bounce-diagonal {
  display: inline-block;
  animation: bounce-diagonal 4s infinite;
}

.bounce-oppisite {
  display: inline-block;
  animation: bounce-oppisite 4s infinite;
}

.bounce-rotate {
  display: inline-block;
  animation: bounce-rotate 4s infinite;
}

.bounce-rotate-oppisite {
  display: inline-block;
  animation: bounce-rotate-oppisite 4s infinite;
}

.bounce-dia {
  display: inline-block;
  animation: bounce-dia 4s infinite;
}